[Unit]
Description=Backend data collector for AcuRite Weather Station
Documentation=man:sensors_acurite(1)

[Service]
Type=simple
ExecStart=/usr/bin/sensors_acurited -c /etc/sensors/sensors_acurite.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target

